.popup {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  inset: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s,opacity 0.4s linear;
  z-index: 2;
}
